# Ignore general files and directories
node_modules/
build/
dist/
*.log
*.swp
*.swo
*.tmp
*.bak
*.git
*.idea
*.vscode
*.DS_Store

# Ignore development and build directories
yarn-error.log
yarn-debug.log
npm-debug.log
coverage/
*.cache/
*.sass-cache/
*.npm/
*.nyc_output/
*.eslintcache
*.stylelintcache

# Ignore Docker-specific files
.dockerignore
Dockerfile
.docker/
.docker-compose.yml
.docker-compose.override.yml

# Ignore temporary and cache files
*.db
*.sqlite3
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.svg
*.woff
*.woff2
*.eot
*.ttf
*.otf
*.gz
*.tar.gz
*.zip
*.xz
*.bz2
*.7z
*.rar
*.pdf
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.svg
*.mp3
*.mp4
*.avi
*.flv
*.mov
*.mkv
*.wmv
*.webm
*.ogg
*.wav
*.swf

# Ignore temporary files created by various editors and IDEs
.vscode/
.idea/
*.sublime*
*.swo
*.swp
*.db-journal
*.log
*.nfs*
*.tmp*
*.pid
*.pid.lock
